body{
    margin: 0;
    padding: 0;
}
.big{
    display: flex;
    width: 45%;
    margin: 10vh auto;
    height: 55vh;
    font-family: 'Hanken Grotesk';
    border-radius: 30px;
    box-shadow: 5px 5px 0px 0px hsl(221, 100%, 96%);
.left{
    width: 50%;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    color: hsl(241, 100%, 89%);
}
.right{
    width: 50%;
    text-align: justify;
    margin-left: 0px;
    padding: 18px;
    border-radius: 0px 30px 30px 0px;
    
}
.circle{
    display: flex;
    color: hsl(0, 0%, 48%);
    padding: 0vh;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 20px auto;
    width: 20vh;
    height: 20vh;
    flex-direction: column;
    background: linear-gradient(hsla(256, 72%, 46%, 1),#1C39BB);
}
.sm1, .sm2,.sm3,.sm4{
    height: 5vh;
    padding: auto, 0;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 5%;
    justify-content: space-between;
}
.sm1{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.187);
    margin-top: 10%;
}
.sm2{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.171);
    
}
.sm3{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.162);
}
.sm4{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.151);
    margin-bottom: 40px;
}
button{
    background-color: hwb(224 19% 65%);
    font-size: 1em;
    height: 5vh;
    width: 90%;
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    margin-left: 4%;
}
h3{
    color: white;
}
.num{
    font-size: 40px;
    margin: 0;
}
.l{
    display: flex;
    flex-direction: row;
}
.b{
    color: hsla(224, 30%, 27%, 0.854);
    margin-right: 15px;
}
.a{
    color: black;
    margin-right: 5px;
}
/* p{
    font-size: 18px;
} */